@* بنك حضرموت - Footer Component *@

<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-section">
                <div class="footer-logo">
                    <img src="Images/aboutLogo-fDwVp-So.svg" alt="بنك حضرموت">
                </div>
                <p style="color: rgba(255,255,255,0.8); line-height: 1.8;">
                    بنك حضرموت<br>
                    شريكك المصرفي الموثوق
                </p>
                <div class="social-links">
                    <a href="https://www.facebook.com/HadhramoutCBank" target="_blank" class="social-link" title="فيسبوك">
                        <img src="Images/facebook-CLFLTU_9.svg" alt="Facebook">
                    </a>
                    <a href="https://x.com/HadhramoutCBank" target="_blank" class="social-link" title="تويتر">
                        <img src="Images/twitter-Be2khGVL.svg" alt="Twitter">
                    </a>
                    <a href="https://www.instagram.com/hadhramoutcbank/" target="_blank" class="social-link" title="إنستغرام">
                        <img src="Images/instagram-3tR7s0FB.svg" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com/company/hadhramoutbank" target="_blank" class="social-link" title="لينكد إن">
                        <img src="Images/linkedin-CTvttAUX.svg" alt="LinkedIn">
                    </a>
                </div>
            </div>

            <div class="footer-section contact-section" style="margin-right: 3rem; justify-self: end; text-align: right;">
                <h4>تواصل معنا</h4>
                <ul class="no-bullets" style="list-style: none; padding: 0;">
                    <li>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:customer.service@hadhramoutbank.com">customer.service&#64;hadhramoutbank.com</a>
                    </li>
                    <li>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:8005000">8005000</a>
                    </li>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>اليمن – حضرموت – المكلا - الديس</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>مرخص من البنك المركزي اليمني | <strong style="color: #d4af37;">بنك حضرموت</strong> | جميع الحقوق محفوظة &copy; @DateTime.Now.Year</p>
        </div>
    </div>
</footer>
